#root {
  width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  height: 100%;
}

.App {
  text-align: center;
}

.button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
}

/* src/components/TransferAssets.css */

.transfer-assets {
  margin: 20px auto;
  /* width: 40%; */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin: 15px 0;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.info-warning {
  margin: 15px 20px;
  background-color: #fff3cd;
  padding: 10px;
  border: 1px solid #ffeeba;
  border-radius: 5px;
}

.button {
  width: calc(100% - 40px);
  margin: 20px;
}

.button-disabled {
  background-color: #a6a5a5;
}
.button-disabled:focus,
.button-disabled:focus-visible {

  outline: 0; 
}

.button-disabled:hover {
}